<div class="container p-3">
  <div class="center">
    <!-- logo -->
    <div class="row">
      <div class="col align-self-center logo">
        <img [src]="logoPath" alt="amazon logo" width="103px" height="31px" />
        .in
      </div>
    </div>

    <div class="row">
      <div class="outer-box col mt-3 mb-3 p-4">
        <div class="align-self-center">
          <p class="header mb-2">Sign in</p>

          <!-- Form group -->
          <form
            #loginForm="ngForm"
            (onSubmit)="onSubmit(loginForm)"
            name="loginForm"
          >
            <!-- Block 1 -->
            <div class="userId" *ngIf="!isFormSubmitted">
              <label for="inputEmailContact" class="fw-bolder label">
                Email or mobile phone number
              </label>
              <input
                type="text"
                class="form-control form-control-sm"
                id="inputEmailContact"
                name="username"
                [(ngModel)]="user.userId"
                aria-describedby="emailHelp"
                autofocus
              />
              <!-- Continue Button -->
              <button
                type="button"
                class="btn btn-warning btn-block btn-sm btn-continue mt-3 my-2 rounded-3"
                (click)="onContinue()"
              >
                Continue
              </button>

              <!-- T&C -->
              <p class="terms-block">
                By continuing, you agree to Amazon's
                <a href="#">Conditions of Use</a> and
                <a href="#">Privacy Notice</a>.
              </p>

              <!-- help block -->
              <div class="small mb-3" *ngIf="!isFormSubmitted">
                <fa-icon
                  class="d-inline"
                  [icon]="faCaretRight"
                  *ngIf="isHelpClicked === false"
                ></fa-icon>
                <fa-icon
                  class="d-inline"
                  [icon]="faCaretDown"
                  *ngIf="isHelpClicked"
                ></fa-icon>

                <div class="d-inline help-parent" (click)="onClickCaret()">
                  Need help?<br />
                  <div class="help" *ngIf="isHelpClicked">
                    <span id="help-2">Forgot Password</span><br />
                    <span id="help-3">Other issues with Sign-in</span>
                  </div>
                </div>
              </div>
            </div>
            <!-- Block 2 -->
            <div class="userId" *ngIf="isFormSubmitted">
              <div>
                <p class="d-inline">
                  {{ user.userId }}
                </p>
                <p class="d-inline" (click)="onEditUserId()">Change</p>
              </div>
              <label for="inputEmailContact" class="fw-bolder label">
                Password
              </label>
              <input
                type="text"
                class="form-control form-control-sm"
                id="inputPassword"
                name="password"
                [(ngModel)]="user.password"
                aria-describedby="passwordHelp"
              />
              <!-- Sign In Button -->
              <button
                type="button"
                class="btn btn-warning btn-block btn-sm btn-continue my-2 rounded-3"
                (click)="onSubmit(loginForm)"
              >
                Sign in
              </button>

              <!-- T&C -->
              <p class="terms-block">
                By continuing, you agree to Amazon's
                <a href="#">Conditions of Use</a> and
                <a href="#">Privacy Notice</a>.
              </p>

              <!-- help block -->
              <div class="small mb-3" *ngIf="!isFormSubmitted">
                <fa-icon
                  class="d-inline"
                  [icon]="faCaretRight"
                  *ngIf="isHelpClicked === false"
                ></fa-icon>
                <fa-icon
                  class="d-inline"
                  [icon]="faCaretDown"
                  *ngIf="isHelpClicked"
                ></fa-icon>

                <div class="d-inline help-parent" (click)="onClickCaret()">
                  Need help?<br />
                  <div class="help" *ngIf="isHelpClicked">
                    <span id="help-2">Forgot Password</span><br />
                    <span id="help-3">Other issues with Sign-in</span>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="sign-up-block">
        <!-- hr -->
        <hr width="100%"/>
        <div class="small">New to Amazon?</div>
        <!-- Sign Up -->
        <div class="row" *ngIf="!isFormSubmitted">
          <button
            type="submit"
            class="btn btn-outline-dark btn-sm btn-block mt-3 mb-3 sign-up-btn"
          >
            Create your Amazon account
          </button>
        </div>
      </div>
      <div class="footer">
        <hr id="hz-rule" />
        <!-- Footer -->
        <footer class="mb-0">
          <p class="small">&copy; 2023, Shubham Nagre</p>
        </footer>
      </div>
    </div>
  </div>
</div>
