:root {
  --amazon-blue: #0066c0;
  --amazon-yellow: #c45500;
}

footer {
  background-color: var(--bs-tertiary-bg);
  text-align: center;
  background-blend-mode: soft-light;
}

.btn-continue {
  width: 100%;
}

.btn-submit:hover {
  background-color: rgb(241, 241, 241);
  color: #000;
}

.center {
  width: 30%;
}

.change {
  color: #0066c0;
}

.change:hover {
  color: #c45500;
  cursor: pointer;
  text-decoration: underline;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  height: 100%;
}

#forgot-password {
  color: #0066c0;
  font-size: .8125rem;;
}

#forgot-password:hover {
  color: #c45500;
  cursor: pointer;
  text-decoration: underline;
}

.header {
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 0;
}

.help {
  padding-left: .7rem;
}

.help-parent {
  font-size: .8125rem;
  cursor: pointer;
  color: #0066c0;
}

/* #help-1:hover {
  text-decoration: underline;
  color: #c45500;
} */

#help-2:hover {
  text-decoration: underline;
  color: #c45500;
}

#help-3:hover {
  text-decoration: underline;
  color: #c45500;
}

#hz-rule {
  margin-bottom: 0;
  box-shadow: 0 20px 20px -20px var(--bs-tertiary-bg);
}

.icon-info {
  color: #0066c0;
  /* transform: rotate(14deg); */
}

.label {
  font-size: .8125rem;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.outer-box {
  border: .5008px solid rgb(146, 146, 146);
  border-radius: 10px;
  display: block;
  height: 100%;
  width: 30%;
}

.sign-up-block {
  display: block;
  width: 100%;
}

.sign-up-btn {
  border-radius: 8px;
}

.sign-up-btn:hover {
  background-color: #f9fdfe;
  color: #000;
}

.terms-block {
  font-size: .75rem;
  font-weight: 400;
}

.term-1 {
  text-decoration: none;
  color: #0066c0;
}

.term-1:hover {
  text-decoration: underline;
  color: #c45500;
}

.term-2 {
  text-decoration: none;
  color: #0066c0;
}

.term-2:hover {
  text-decoration: underline;
  color: #c45500;
}

.userId-details {
  font-size: .8125rem;
  font-weight: 600;
}


