input {
  background-color: #fff;
}

input::placeholder {
  color: rgb(108, 108, 108);
  /* font-weight: 400; */
}

.categories {
  width: 4.0625rem;
  font-size: 0.75rem;
  border-radius: 0;
}

/* .categories option {
  width: 120px !important;
} */

.container-fluid {
  color: #fff !important;
}

#domain {
  font-weight: 600;
}

.nav-bg-content {
  background-color: #0f1111 !important;
}

/* .nav-item:hover {
  border: #fff;
  /* border-color: aliceblue; /
}
*/

#searchBtn {
  background-color: #FEBD69;
  border-radius: 0;
}

#searchBtn:hover {
  background-color: #efa94d;
}
