a:hover,
.logo:hover {
  border: solid;
  border-color: #fff;
}

input {
  background-color: #fff;
}

input::placeholder {
  color: rgb(108, 108, 108);
}

input[type="search"]:focus {
  background-color: #fff;
  outline: none !important;
  box-shadow: none; /* to remove blue shadow around input */
}

/* Style the select tag */
select {
  background-color: #e4e3e3;
  color: #545454;
  font-weight: 600;
  /* Removed borders for top and bottom */
  border-top: none;
  border-bottom: none;
}

/* to style the drop-down items */
select:focus {
  background-color: #fff;
}

/* Adjust the maximum width */
select:focus option {
  width: auto;
  white-space: nowrap;
}

/* classes and id's style */
.badge {
  color: orange;
  background-color: #0f1111;
  padding: 1px;
  margin: 1px;
}

.categories {
  width: 4.0625rem;
  font-size: 0.75rem;
  border-radius: 0;
}

.container-fluid {
  color: #fff !important;
}

#domain {
  font-weight: 600;
}

.pe-5 {
  padding-right: 14rem !important;
}

.logo {
  padding: 12px;
}

.link-2 {
  color: #c1c1c1;
  font-weight: 600;
  padding-left: 3px;
}

.nav-bg-content {
  background-color: #0f1111 !important;
}

.text {
  font-size: 0.875rem;
  line-height: 0.875rem;
}

#regions {
  color: #fff;
}

#searchBtn {
  background-color: #febd69;
  border-radius: 0;
}

#searchBtn:hover {
  background-color: #efa94d;
}

.search-btn-group input[type="search"] {
  border: none;
}

.search-btn-group:focus-within {
  border: 3px solid orange !important;
  border-radius: 10px;
}
