a:hover, .logo:hover {
  border: solid;
}

input {
  background-color: #fff;
}

input::placeholder {
  color: rgb(108, 108, 108);
}

/* Style the select tag */
select {
  background-color: #e4e3e3;
  color: #545454;
  font-weight: 600;
}

/* to style the drop-down items */
select:focus {
  background-color: #fff;
}

/* Adjust the maximum width */
select:focus option {
  width: auto;
  white-space: nowrap;
}

.categories {
  width: 4.0625rem;
  font-size: 0.75rem;
  border-radius: 0;
}

.container-fluid {
  color: #fff !important;
}

#domain {
  font-weight: 600;
}

.pe-5 {
  padding-right: 14rem !important;
}

.logo {
  padding: 12px;
}

.nav-bg-content {
  background-color: #0f1111 !important;
}

.text {
  font-size: .875rem;
  line-height: .875rem;
}

#searchBtn {
  background-color: #FEBD69;
  border-radius: 0;
}

#searchBtn:hover {
  background-color: #efa94d;
}
