ul {
  list-style-type: none;
}

ul:first-child {
  font-size: 16px;
  margin-bottom: 4px;
}

li {
  padding-top: 0.5rem;
}

li > a {
  text-decoration: none;
  font-weight: 500;
  color: rgb(236, 231, 231);
  font-size: 14px;
}

li > a:hover {
  text-decoration: underline;
}

.external-products {
  background-color: #131A22;
}

.footer-body {
  background-color: #232F3E;
  color: #fff;
}

.footer-regions {
  font-size: 12px !important;
  width: 75%;
  justify-content: center;
  margin: auto;
}

.message {
  background-color: #37475a;
  color: #fff;
  height: 40px;
}

.message:hover {
  background-color: #485769;
  cursor: pointer;
}
