<div class="footer">
  <footer class="text-center bg-light text-muted">
    <div class="message p-2 h-100 small">Back to the top</div>
    <div class="footer-body p-5 justify-content-evenly">
      <div class="row px-5">
        <div class="col-3">
          <ul class="text-start">
            <li><strong>Get to Know Us</strong></li>
            <li><a href="#">About Us</a></li>
            <li class="pt-1"><a href="#">Careers</a></li>
            <li class="pt-1"><a href="#">Press Releases</a></li>
            <li class="pt-1"><a href="#">Amazon Science</a></li>
          </ul>
        </div>
        <div class="col-3">
          <ul class="text-start">
            <li><strong>Connect with Us</strong></li>
            <li><a href="#">Facebook</a></li>
            <li class="pt-1"><a href="#">Twitter</a></li>
            <li class="pt-1"><a href="#">Instagram</a></li>
          </ul>
        </div>
        <div class="col-3">
          <ul class="text-start">
            <li><strong>Make Money with Us</strong></li>
            <li><a href="#">Sell on Amazon</a></li>
            <li class="pt-1"><a href="#">Sell under Amazon Accelerator</a></li>
            <li class="pt-1"><a href="#">Protect and Build Your Brand</a></li>
            <li class="pt-1"><a href="#">Amazon Global Selling</a></li>
            <li class="pt-1"><a href="#">Become an Affiliate</a></li>
            <li class="pt-1"><a href="#">Fulfilment by Amazon</a></li>
            <li class="pt-1"><a href="#">Advertise Your Products</a></li>
            <li class="pt-1"><a href="#">Amazon Pay on Merchants</a></li>
          </ul>
        </div>
        <div class="col-3">
          <ul class="text-start">
            <li><strong>Let Us Help You</strong></li>
            <li><a href="#">COVID-19 and Amazon</a></li>
            <li class="pt-1"><a href="#">Your Account</a></li>
            <li class="pt-1"><a href="#">Returns Centre</a></li>
            <li class="pt-1"><a href="#">100% Purchase Protection</a></li>
            <li class="pt-1"><a href="#">Amazon App Download</a></li>
            <li class="pt-1"><a href="#">Help</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</div>
