<div class="container-fluid">
  <footer class="text-center bg-light text-muted">
    <div class="message p-2 h-100 small">Back to the top</div>
    <div class="footer-body p-5 justify-content-evenly">
      <div class="row px-5">
        <div class="col-3"><strong>Get to Know Us </strong></div>
        <div class="col-3"><strong>Connect with Us </strong></div>
        <div class="col-3"><strong>Make Money with Us </strong></div>
        <div class="col-3"><strong>Let Us Help You </strong></div>
      </div>
    </div>
  </footer>
</div>
